---
// Inline arrow icon. Defined as an <span> background so it inherits sizing
// from the parent's font-size (1em), matching the old .arrow-up-right rule.
---
<span
  class="inline-block w-[1em] h-[1em] align-[-0.18em] ml-[0.2em] shrink-0 bg-[url('/svg/arrow-right-up.svg')] bg-no-repeat bg-center bg-contain"
  aria-hidden="true"
></span>
