---
import ArrowUpRight from './ArrowUpRight.astro';
---
<footer id="contact" class="flex flex-col gap-3 font-semibold text-[11px] tracking-[0.16em] px-[var(--pad-page)] py-[var(--pad-page)] pt-16 md:flex-row md:justify-between md:items-center lg:pt-30 lg:max-w-[1280px] lg:mx-auto">
  <div>KHIN SANDAR KYAW&nbsp;&nbsp;·&nbsp;&nbsp;YANGON, MYANMAR</div>
  <div class="flex flex-wrap gap-4 md:gap-6">
    <span>© 2026</span>
    <a href="https://www.instagram.com/khinsandar798" target="_blank" rel="noopener">IG<ArrowUpRight /></a>
    <a href="https://www.facebook.com/khin.sandarphone.kyaw" target="_blank" rel="noopener">FB<ArrowUpRight /></a>
    <a href="mailto:hello@khinsandarkyaw.com">EMAIL<ArrowUpRight /></a>
  </div>
</footer>
